* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  line-height: 1.6;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 150px;
  border-radius: 50%;
}
hr {
  border: 1px solid cyan;
  background-color: black;
}
.head-content {
  text-align: center;
}
#main #header {
  height: 50px;
  background-color: black;
}
#header #nav li {
  display: inline-block;
}
#more {
  width: 170px;
  text-align: center;
}
#nav li {
  position: relative;
  display: inline-block;
}
#nav #subnav {
  position: absolute;
}
#nav li a {
  color: white;
  line-height: 50px;
  text-decoration: none;
  padding: 0 30px;
  text-transform: uppercase;
}
#subnav li a {
  box-sizing: border-box;
  display: none;
}

#subnav li a:hover,
#nav > li:hover > a{
    color: cyan;
    display: block;
    background-color: white;
    /* background-color: red; */
}
.ti-angle-double-down {
  font-size: 12px;
}
#slider {
  padding: 20%;
  width: 80%;
  margin: 50px auto;
  background: url("./image/bg2.jpg") center / contain;
}

.column-left {
  box-sizing: border-box;
  height: 200px;
  float: left;
  width: 30%;
}

.column-right {
  float: right;
  width: 70%;
  height: 200px;
}
.right-column {
  float: none;
}

#container {
  margin: 0 150px;
}
h1 {
    display:block;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5 {
  opacity: 0.7;
  font-style: italic;
}
.text-content {
  text-align: justify;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: darkgrey;
  position: absolute;
  top: 500%;
  text-align: center;
  padding: 75px 0 75px 0;
  font-style: italic;
}
